body { margin: 0; padding: 0; box-sizing: border-box; }

.container { background: #222f3e; text-align: center; color: #ecf0f1; font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; padding: 1px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; min-height: 100vh; }

h1 { font-size: 40px; text-transform: uppercase; }

input, button { font-size: 20px; border-radius: 5px; padding: 10px; outline: none; }

button { width: 160px; }

button .fas { margin-right: 4px; }

button .pending { display: none; }

button.pending { background-color: lightblue; }

button.pending .pending { display: inline; }

button.pending .default { display: none; }

.results-wrapper { display: -ms-flexbox; display: flex; padding: 50px; -ms-flex-direction: column; flex-direction: column; }

.country { margin: 0 0 40px 0; display: -ms-flexbox; display: flex; border-bottom: 1px solid grey; padding-bottom: 40px; }

.country .flag { margin-right: 15px; height: 40px; width: 80px; }

.country .flag img { height: 100%; }

.country .name { text-transform: uppercase; text-align: left; font-size: 24px; margin-bottom: 5px; }

.country .data { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.country .data-row { text-align: left; display: -ms-flexbox; display: flex; line-height: 20px; }

.country .data-row .data-name { min-width: 100px; color: lightcoral; }
